{% extends 'base.html' %}
{% load static %}
{% load sass_tags %}

{% block page-title %}
About // Sick Wish
{% endblock page-title %}

{% block page-description %}
Sick Wish is a New(er) Wave band formed in Boise, ID in 2014 by former Built to Spill bassist Brett Nelson, his son Jonah Nelson, and local musicians Edward Dunn and Craig Macomb.
{% endblock page-description %}

{% block page-styles %}
<link rel="stylesheet" href="{% sass_src 'css/main.scss' %}" type="text/css">
<style>
    .heading {
        height: unset;
    }
</style>
{% endblock page-styles %}

{% block content %}
<section class="heading">
    <h1 class="heading__title heading__title--child">About</h1>
    {% include "partials/nav.html" %}
</section>

<section class="about">
    <img class="about__img" src="/media/{{ image.image }}" alt="{{ image.description }}" />
    <div class="about__text">
        {% autoescape off %}
            {{ text.content }}
        {% endautoescape off %}
    </div>
    <div class="about__video">
        {% autoescape off %}
            {{ video.embed_html }}
        {% endautoescape %}
    </div>
</section>

<section class="press">
<section>
{% endblock content %}

{% block page-scripts %}
{% endblock page-scripts %}
