{% extends 'base.html' %}
{% load static %}
{% load sass_tags %}
{% load thumbnail %}

{% block page-title %}
Media // Sick Wish
{% endblock page-title %}

{% block page-description %}
Sick Wish is a New(er) Wave band formed in Boise, ID in 2014 by former Built to Spill bassist Brett Nelson, his son Jonah Nelson, and local musicians Edward Dunn and Craig Macomb.
{% endblock page-description %}

{% block page-styles %}
<link rel="stylesheet" href="{% sass_src 'css/main.scss' %}" type="text/css">
<style>
    .heading {
        height: unset;
    }
</style>
{% endblock page-styles %}

{% block content %}
<section class="heading">
    <h1 class="heading__title heading__title--child">Media</h1>
    {% include "partials/nav.html" %}
</section>

<section class="gallery">
    <div class="gallery__active-container">
        <p class="gallery__chevron" onClick="previousPhoto()">&#8249;</p>
        <img class="gallery__photo--active" src="/media/{{ media.0.image }}" alt="{{ media.0.description }}" onClick="nextPhoto()" />
        <p class="gallery__chevron" onClick="nextPhoto()">&#8250;</p>
    </div>
    <div class="gallery__preview">
        {% for image in media %}
            <img
                id="{{ image.id }}"
                class="gallery__photo {% if forloop.first %}gallery__photo--highlight{% endif %}"
                src="{{ image.image|thumbnail_url:'preview' }}"
                alt="{{ image.description }}"
                onClick="changeActivePhoto(this);"
            />
        {% endfor %}
    </div>
</section>
{% endblock content %}

{% block page-scripts %}
<script>
    document.onkeydown = checkKey;

    var photoCount = document.getElementsByClassName("gallery__photo").length;
    var activePhoto = document.getElementsByClassName("gallery__photo--active")[0];
    var activePhotoId = 1;

    function changeActivePhoto(element){
        let oldPhoto = document.getElementById(activePhotoId)

        oldPhoto.classList.remove("gallery__photo--highlight");
        element.classList.add("gallery__photo--highlight");

        activePhoto.src = getFullPhoto(element.src);
        activePhoto.alt = element.alt;
        activePhotoId = parseInt(element.id);
    }

    function nextPhoto() {
        if (activePhotoId < photoCount) {
            let newPhoto = document.getElementById(activePhotoId + 1)
            let oldPhoto = document.getElementById(activePhotoId)

            newPhoto.classList.add("gallery__photo--highlight");
            oldPhoto.classList.remove("gallery__photo--highlight");

            activePhoto.src = getFullPhoto(newPhoto.src);
            activePhoto.alt = newPhoto.alt;
            activePhotoId = parseInt(newPhoto.id);
        } else {
            let newPhoto = document.getElementById(1)
            let oldPhoto = document.getElementById(activePhotoId)

            newPhoto.classList.add("gallery__photo--highlight");
            oldPhoto.classList.remove("gallery__photo--highlight");

            activePhoto.src = getFullPhoto(newPhoto.src);
            activePhoto.alt = newPhoto.alt;
            activePhotoId = parseInt(newPhoto.id);
        }
    }

    function previousPhoto() {
        if (activePhotoId > 1) {
            let newPhoto = document.getElementById(activePhotoId - 1)
            let oldPhoto = document.getElementById(activePhotoId)

            newPhoto.classList.add("gallery__photo--highlight");
            oldPhoto.classList.remove("gallery__photo--highlight");

            activePhoto.src = getFullPhoto(newPhoto.src);
            activePhoto.alt = newPhoto.alt;
            activePhotoId = parseInt(newPhoto.id);
        } else {
            let newPhoto = document.getElementById(photoCount)
            let oldPhoto = document.getElementById(activePhotoId)

            newPhoto.classList.add("gallery__photo--highlight");
            oldPhoto.classList.remove("gallery__photo--highlight");

            activePhoto.src = getFullPhoto(newPhoto.src);
            activePhoto.alt = newPhoto.alt;
            activePhotoId = parseInt(newPhoto.id);
        }
    }

    function getFullPhoto(src) {
        return src.substr(0, src.indexOf(".25x25"));
    }

    function checkKey(e) {
        var event = window.event ? window.event : e;
        if (event.keyCode == 39) {
            nextPhoto();
        } else if (event.keyCode == 37) {
            previousPhoto();
        }
    }

</script>
{% endblock page-scripts %}
