{% extends 'base.html' %}
{% load static %}
{% load sass_tags %}

{% block page-title %}
News // Sick Wish
{% endblock page-title %}

{% block page-description %}
Sick Wish is a New(er) Wave band formed in Boise, ID in 2014 by former Built to Spill bassist Brett Nelson, his son Jonah Nelson, and local musicians Edward Dunn and Craig Macomb.
{% endblock page-description %}

{% block page-grid %}
grid-template-columns: 100%;
{% endblock page-grid %}

{% block page-styles %}
<link rel="stylesheet" href="{% sass_src 'css/main.scss' %}" type="text/css">
<style>
@media only screen and (min-width: 768px) {
    body {
        grid-template-rows: 40vh 1fr;
    }

    .news-preview {
        margin-top: 0;
    }

    .heading {
        height: unset;
    }
}
</style>
{% endblock page-styles %}

{% block content %}
<section class="heading">
    <h1 class="heading__title heading__title--child">News</h1>
    {% include "partials/nav.html" %}
</section>

<section class="news-preview">
    {% for post in news %}
        <div class="news-preview__post">
            <h4 class="news-preview__title">{{ post.title }}</h4>
            <p class="news-preview__date">{{ post.published }}</p>
            <p class="news-preview__content">{{ post.preview }} . . .</p>
            <a href="/news/{{ post.slug }}" class="news-preview__link bordered">
                Read More
                <svg class="chevron chevron--right" viewBox="0 0 4 4" version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <path d="M 0,0 L 4,0 L 4,4" fill="none" stroke="#fff" strokeWidth="10" />
                </svg>
            </a>
        </div>
    {% endfor %}
</section>
{% endblock content %}

{% block page-scripts %}
{% endblock page-scripts %}
