{% load static %}
{% load sass_tags %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="description" content="{% block page-description %}{% endblock page-description %}">
        {% block metadata %}
        {% endblock metadata %}

        <title>{% block page-title %}{% endblock page-title %}</title>

        <link rel="canonical" href="https://{{ request.get_host }}{{ request.get_full_path }}" />
        <link rel="stylesheet" href="{% sass_src 'css/base.scss' %}" type="text/css" />
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

        <style>
            .page-wrapper {
                {% block page-grid %}
                {% endblock page-grid %}
            }
        </style>
        {% block page-styles %}
        {% endblock page-styles %}
    </head>
    <body>
        {% if banner %}
            <div class="banner">
                <a class="banner__link" href="{{ banner.link }}">{{ banner.text }} &#8594;</a>
                <span class="banner__underline banner__underline--blue"></span>
                <span class="banner__underline banner__underline--red"></span>
            </div>
        {% endif %}
        <div class="page-wrapper">
            {% block content %}
            {% endblock content %}
        </div>
    </body>
    {% block page-scripts %}
    {% endblock page-scripts %}
</html>